.gray-scale {
  filter: grayscale(100%);
}

.gray-scale:hover {
  filter: grayscale(0%);
}

.highlight {
  background: #daed1a;
  color: black;
}

/* Base styles for all buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: linear-gradient(white, transparent);
  transform: rotate(-30deg);
  pointer-events: none; /* Ensures the gloss doesn't interfere with button functionality */
  opacity: 0.6;
}
.btn:hover {
  transform: scale(1.05); /* Bump effect on hover */
}

.btn::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: linear-gradient(white, transparent);
  transform: rotate(-10deg);
  pointer-events: none; /* Ensures the gloss doesn't interfere with button functionality */
  opacity: 0.6;
}

/* WhatsApp button styles */
.bg-whatsapp {
  background-color: #25d366;
  color: white;
}

/* Telegram button styles */
.bg-telegram {
  background-color: #0088cc;
  color: white;
}

/* Email button styles */
.bg-email {
  background-color: #d44638;
  color: white;
}
